@import "tailwindcss";

@theme {
  --color-background: #0a0b14;
  --color-surface: #11121c;
  
  --color-primary: #ec4899;
  --color-primary-hover: #db2777;
  
  --color-secondary: #8b5cf6;
  --color-secondary-hover: #7c3aed;
  
  --color-border: #1f2937;

  --font-sans: Inter, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-gray-100 antialiased;
  }
}
